body {
    padding-top: 50px;
    font-family: Inconsolata,monospace;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar-inverse{
    background-color:black;
    color:white;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.welcome{
    height: 350px;
background: url(../img/front.jpg);
    background-size: cover;
//box-shadow: 0 6px 6px rgba(0,0,0,0.15), 0px 3px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 0 1000px rgba(0,0,30,.8);

}

.welcome h1{
    color:white;
}

.welcome h3{
    color:white;
    text-transform: none;
}

.about {
}

.about-text {

}

.about-text p{
    text-align: justify;
    letter-spacing: 0.5px;
}



.about-img img{
    margin: auto;
    width: 75%;
    border-radius: 25px;
    border: solid 5px #5e5e5e;
    background-size: ;

}

.projects img{
    width: 300px;
    height: 300px;
    border: solid 5px #5e5e5e;
    border-radius: 10px;
}

.projects img:hover{
    transform: scale(1.3);

}

.project-items img{
    margin: auto;
}

/*==== Sections ===*/
.section-title{
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
}
.section-title h1 {
     font-weight: 700;
     font-size: 2em;
     letter-spacing: 0.2em;
 }
.section-title h5{
      letter-spacing: 0.3em;
      text-transform: uppercase;
      font-weight: 400;
  }
.space{
       height: 120px;
       width: 100%;
       display: block
   }
.even{
        padding: 120px 40px;
    }



/*==== Contact ===*/
#contact {
    background: #000;
}#contact .section-title h1{
     color: white;
 }
.contact-info .circle{
      color: white;
      border-color: #fff;
  }
.contact-info-text{
       color: white;
       text-align: center;
   }
.email-btn:hover .circle {
        border-color: #3CB371;
        color: white;
    }
/*==== Footer ===*/
#footer{
    padding: 2em 0;
    background: black;
    color: white;
}
#footer .social {
     text-align: right;
     font-size: 25px;
     padding: 0 15px;
 }
.social a{
      color: #4d4d4d;
  }
#footer a:hover{
       color: #3CB371
   }